<link rel="stylesheet" href="styles.css">

<h2>Please click here to log in:</h2>
<a href="/login">Log me in</a>

<h2>Choose a link to view a report:</h2>
<ul>
	<li><a href = "/fullreport">Full Report</a></li>
	<li><a href = "/fullreport?whoWeWant=Sonia">Sonia</a></li>
	<li><a href = "/fullreport?whoWeWant=Priya">Priya</a></li>
</ul>