<!DOCTYPE html>
<html lang="en-us">

    <head>
	    <meta charset="utf-8">
	    <title>CSV Report Home</title>
	    <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
    	<div id="wrapper">
			<% 
			$loggedIn = false
			redirect "/login" %>
		</div>
	</body>
</html>